main {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0.5% 3.5%;
	transition: all ease-in-out 1s;
	box-sizing: border-box;
}

.center-section {
	width: 70%;
	height: 86vh;
	overflow: scroll;
}

/*To hide center section's scroll bar*/
.center-section::-webkit-scrollbar {
	display: none;
}

/*Right side section*/
.side-section {
	width: 28%;
	height: 86vh;
}

.carousel-box {
	position: relative;
	left: 9vw;
	margin-top: 5%;
}

.carousel {
	position: absolute;
	width: 65%;
	height: auto;
	left: 2%;
	display: flex;
	justify-content: space-around;
}

.carousel img {
	height: 14vw;
	width: 22.5vw;
	border-radius: 5px;
	transition: 0.2s;
}

.carousel img:nth-child(1) {
	position: relative;
	left: 40vw;
	z-index: 2;
}

.carousel img:nth-child(2) {
	z-index: 3;
}

.carousel img:nth-child(3) {
	position: relative;
	right: 40vw;
	z-index: 1;
}

/* Animation effect for carousel */
.carousel img:hover {
	z-index: 4;
	transform: scaleX(1.2) scaleY(1.2);
}

/*-----------------------------------------------------------------------------*/

/****************** Latest Release Section **************/

.latest-release {
	position: relative;
	top: 20vw;
	height: auto;
	width: 100%;
	box-sizing: border-box;
}

.latest-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.content-box {
	display: flex;
	height: 100px;
	width: 47%;
	margin: 5px 0px;
}

.content-box img {
	width: 100px;
	height: 100px;
	min-width: 50px;
	min-height: 50px;
}

.content-box:hover {
	box-shadow: 0px 0px 2px 1px white;
}

.play-button {
	width: 100px;
	height: 100%;
	position: relative;
	top: -104%;
	color: rgb(255, 255, 255, 0);
	background-color: rgba(0, 0, 0, 0);
	transition: all ease-in-out 0.2s;
}

.play-button:hover {
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.5);
}

.song-name {
	margin: auto 10%;
}

.song-name p{
	font-size: 0.9rem;
}

.options {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: right;
	margin-left: auto;
	margin-right: 2%;
	margin-top: 2%;
}

.release-dropdown-part {
	position: absolute;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 0px;
	height: 0px;
	top: 20px;
	right: 0px;
	z-index: 2;
	box-shadow: 0px 0px 2px 1px black;
	transition: all ease-in-out 0.2s;
	overflow: hidden;
}

.dropdown-item i{
	margin-right: 10px;
}

.dropdown-item p {
	text-align: left;
}

.fa-ellipsis-h {
	cursor: pointer;
}

/*THIS PART IS IMPORTANT FOR THE LIST TO BE DISPLAYED UPON CLICKING THE 3 DOTS IMAGE*/
/*Input for the checkbox*/
input[type="checkbox"] {
	display: none;
}

/*Once the 3 dots are clicked, the button will be checked & list appears*/
input[type="checkbox"]:checked ~ .release-dropdown-part {
	height: auto;
	opacity: 1;
	padding: 3px 1px;
	width: max-content;
}

/*--------------------------------------------------------------------------*/

